services:
  replica1:
    build: .
    environment: 
      - replication=Replica1
    ports:
      - "3001:3000"
    networks:
      - backend

  replica2:
    build: .
    environment:
      - replication=Replica2
    ports:
      - "3002:3000"
    networks:
      - backend

  replica3:
    build: .
    environment:
      - replication=Replica3
    ports:
      - "3003:3000"
    networks:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./nginxconfig:/etc/nginx
    ports: 
      - "8080:80"
      - "443:443"
    depends_on:
      - replica1
      - replica2
      - replica3
    networks:
      - backend
networks:
 backend:    
   driver: bridge
   name: backend
